<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%c{1}]: %m at %d{yy-MM-dd HH:mm:ss}%n"/>
        </Console>
        <RollingFile name="userAuthLog" fileName="C:\\log/user-account-activity.log"
                     filePattern="/user-account-activity-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%c{1}]: %m at %d{yy-MM-dd HH:mm:ss}%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy module="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="500" fileIndex="min"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.bit.spring.controller" level="TRACE" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="com.bit.spring.handler.UserAuthSuccessHandler" level="INFO" additivity="false">
            <AppenderRef ref="userAuthLog"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>